PyAudio==0.2.11
numpy==1.23.0
coloredlogs==15.0.1
scipy==1.8.1
Werkzeug==2.1.2
Flask==2.1.2
Flask_Login==0.6.1
Jinja2==3.1.2
waitress==2.1.2
rpi_ws281x==4.3.4
icmplib==3.0.3
flasgger==0.9.5
jsonschema==4.6.1
APScheduler==3.9.1
psutil
