# PyAudio==0.2.14  # Use compiled python3-pyaudio (0.2.13) instead.
numpy==2.4.2
loguru==0.7.3
scipy==1.17.0
Werkzeug==3.1.5
Flask==3.1.2
Flask_Login==0.6.3
Jinja2==3.1.6
waitress==3.0.2
rpi_ws281x==5.0.0; sys_platform == "linux"
rpi-ws281x-mock==0.2.2; sys_platform == "win32"
icmplib==3.0.4
Flask-OpenAPI3-UI==2.3.0
jsonschema==4.26.0
APScheduler==3.11.2
psutil
