PyAudio==0.2.11
numpy==1.21.4
coloredlogs==15.0.1
scipy==1.7.2
Flask==2.0.2
Flask_Login==0.5.0
Jinja2==3.0.3
waitress==2.0.0
rpi_ws281x==4.3.1
icmplib==3.0.2
flasgger==0.9.5
jsonschema==4.2.1
multiprocess==0.70.12.2
psutil
